<mat-card-title>
  Ce test technique a pour objectif de valider les compétences Angular du
  Candidat.
</mat-card-title>

<br />

<h4>## Présentation de l'exercice</h4>

Ce test se présente sous la forme d'uneapplication simple, permettant de générer
un ensemble d'identités de personnes. À partir d'une base applicative, vous
devez comprendre le fonctionnement de l'application, compléter les parties
demandées et vous assurer du fonctionnement de celle-ci (tests compris).

<br />

<h4>## Consignes de l'exercice</h4>
<ol>
  <li>S'assurer du fonctionnement des tests unitaires</li>
  <li>
    Dans la zone de génération, des critères de sélection sont affichés,
    implémenter le choix de ces critères pour la génération (valider la
    génération au moyen des tests unitaires)
  </li>
  <li>
    Dans le formulaire de critères, ne pas permettre : - de saisir une valeur
    négative ou supérieure à 1000 ; - de ne saisir aucun choix de genre.
  </li>
  <li>
    Dans le tableau de résultats, ne plus afficher Male / Female, mais Homme /
    Femme (par exemple en utilisant un `Pipe`).
  </li>
  <li>Le bouton « À propos » ne fonctionne pas, implémenter sa navigation.</li>
  <li>
    Si le coeur vous en dit, vous pouvez essayer d'améliorer l'ergonomie (UX et
    ou /UI) du site sur un aspect de votre choix. Il est demandé en outre que le
    code produit soit industriel, c'est-à-dire qu'il respecte les conventions de
    code et que les tests unitaires n'échouent pas. N'hésitez pas à utiliser vos
    bonnes pratiques habituelles ... à améliorer le code en terme de lisibilité
    et même en terme de performance.
  </li>
</ol>
<br />

<h4>##Démarrage de l'application</h4>

Il est possible d'utiliser les scripts préconfigurés `npm` pour démarrer
l'application et lancer les tests unitaires.
<ul>
  <li>yarn run build` pour compiler le projet</li>
  <li>yarn run test` pour lancer les tests unitaires</li>
  <li>yarn run start` pour démarrer l'application</li>
  <li>
    yarn run lint` pour s'assurer que le code respecte les conventions de code
  </li>
</ul>

<i>
  Ce projet a été généré au moyen d'[Angular
  CLI](https://github.com/angular/angular-cli) version 7.2.1.
</i>

<br />

<h4>## Installation</h4>
Utiliser : npm install --save --legacy-peer-deps en cas de pb d'installation des
dependencies
<br />

<p>
  <a routerLink="/" mat-button color="primary">Retour</a>
</p>
